<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <%- include('menu.html') %>
    <h1>Home</h1>

    <% if(user) {%>
      <h3><%= user.userid %>님 반갑습니다!</h3>
      <p></p>
      <button class="w-100 btn btn-warning main"><b>최신글 보기</b></button>
      <p></p>
      <button class="w-100 btn btn-warning listfriend"><b>친구글 보기</b></button>
      <p></p>
      <button class="w-100 btn btn-warning friend"><b>친구 관리</b></button>
      <p></p>
      <button class="w-100 btn btn-warning logout"><b>로그아웃</b></button>
      <p></p>
    <% }else{ %>
      <h3>로그인 해주세요.</h3>
      <p></p>
      <button class="w-100 btn btn-warning login"><b>로그인</b></button>
      <p></p>
      <button class="w-100 btn btn-warning signup"><b>회원가입</b></button>
    <% } %>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
      $('.login').click(function(e){
        location.href = "\login";
      })

      $('.signup').click(function(e){
        location.href = "\signup";
      })

      $('.logout').click(function(e){
        location.href = "\logout";
      })

      $('.main').click(function(e){
        location.href = "\main";
      })

      $('.friend').click(function(e){
        location.href = "/friend";
      })

      $('.listfriend').click(function(e){
        location.href = "/listfriend";
      })
    </script>
  </body>
</html>